In [1]:
import cartolafc
import pprint
import json
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Criando um objeto para trabalhar
# Logando para acessar todas as funcionalidades
api = cartolafc.Api()
login = api.set_credentials('robson.s.macedo@gmail.com', 'bradesco11')

In [10]:
# extraindo dados dos clubes
# extraindo dados das partidas
# extraindo dados dos atletas
# trazendo meus dados para comprar de acordo com a minha realidade
# Armazenando os dados das pontuacoes dos atletas em uma lista
clubes = api.clubes()
partidas = [api.partidas(i) for i in range(1, 25)]
atletas = api.mercado_atletas()
meusDados = api.time_logado() 
IdsAtletas = [x.id for x in atletas]
pontuacoesAtletas = [api.pontuacao_atleta(i) for i in IdsAtletas]

In [11]:
atletas[0].id

101728

In [12]:
api.pontuacao_atleta(37246)

[{"atleta_id": 37246, "rodada_id": 12, "pontos": 0, "preco": 8.58, "variacao": 0, "media": 3.28},
 {"atleta_id": 37246, "rodada_id": 13, "pontos": 0, "preco": 8.58, "variacao": 0, "media": 3.28},
 {"atleta_id": 37246, "rodada_id": 14, "pontos": 2.55, "preco": 8.63, "variacao": 0.05, "media": 3.22},
 {"atleta_id": 37246, "rodada_id": 15, "pontos": 3.04, "preco": 8.75, "variacao": 0.12, "media": 3.21},
 {"atleta_id": 37246, "rodada_id": 16, "pontos": 3.73, "preco": 8.86, "variacao": 0.11, "media": 3.25},
 {"atleta_id": 37246, "rodada_id": 17, "pontos": 0.51, "preco": 8.31, "variacao": -0.55, "media": 3.07},
 {"atleta_id": 37246, "rodada_id": 18, "pontos": 3.07, "preco": 8.72, "variacao": 0.41, "media": 3.07},
 {"atleta_id": 37246, "rodada_id": 19, "pontos": 4.14, "preco": 8.92, "variacao": 0.2, "media": 3.13},
 {"atleta_id": 37246, "rodada_id": 20, "pontos": 6.15, "preco": 9.32, "variacao": 0.4, "media": 3.3},
 {"atleta_id": 37246, "rodada_id": 21, "pontos": 5.84, "preco": 9.44, "variacao": 0.12, "media": 3.43},
 {"atleta_id": 37246, "rodada_id": 22, "pontos": 5.15, "preco": 9.52, "variacao": 0.08, "media": 3.52},
 {"atleta_id": 37246, "rodada_id": 23, "pontos": 6.35, "preco": 9.81, "variacao": 0.29, "media": 3.65}]

In [13]:
# montar dicionario para facilitar montagem do Dataframe de PONTUACOES
atleta_id = list()
rodada_id  =list()
pontos = list()
preco = list()
variacao = list()
media = list()
for i in pontuacoesAtletas:
    for j in i:
        atleta_id.append(j.atleta_id)
        rodada_id.append(j.rodada_id)
        pontos.append(j.pontos)
        preco.append(j.preco)
        variacao.append(j.variacao)
        media.append(j.media)
        
pontuacoesAtletas_dict = {}
pontuacoesAtletas_dict['atleta_id'] = atleta_id
pontuacoesAtletas_dict['rodada_id'] = rodada_id
pontuacoesAtletas_dict['pontos'] = pontos
pontuacoesAtletas_dict['preco'] = preco
pontuacoesAtletas_dict['variacao'] = variacao
pontuacoesAtletas_dict['media'] = media

# Montando o DF para as pontuações dos atletas
pontuacoesAtletas_df = pd.DataFrame(pontuacoesAtletas_dict)

In [14]:
# testes até nas proximas 4linhas
pontuacoesAtletas_df.groupby('atleta_id')['media'].mean().max()

12.023333333333332

In [15]:
pontuacoesAtletas_df[pontuacoesAtletas_df.media == 12.02]

      atleta_id  rodada_id  pontos  preco  variacao  media
7065      87863         21    16.7  19.33      1.28  12.02

In [16]:
for i in atletas:
    if i.id == 87863:
        print(i.apelido)

Arrascaeta

In [17]:
pontuacoesAtletas_df.head(2)

   atleta_id  rodada_id  pontos  preco  variacao  media
0     101728         12     0.0    1.0       0.0    0.0
1     101728         13     0.0    1.0       0.0    0.0

In [18]:
# preparando para criar o DF de dados dos ATLETAS
ident = list()
apelido = list()
pontos = list()
scout = list()
posicao = list()
clube = list()
status = list()
for i in atletas:
    ident.append(i.id)
    apelido.append(i.apelido)
    pontos.append(i.pontos)
    scout.append(i.scout)
    posicao.append(i.posicao[2])
    clube.append(i.clube.abreviacao)
    status.append(i.status[1])
    
# Criando o dicionario
atletas_dict = {}
atletas_dict['id'] = ident
atletas_dict['apelido'] = apelido
atletas_dict['ult_pontuacao']  =pontos
atletas_dict['scout'] = scout
atletas_dict['posicao'] = posicao
atletas_dict['clube'] = clube
atletas_dict['status'] = status

# Criando um DF para os atletas
atletas_df = pd.DataFrame(atletas_dict)

In [21]:
atletas_df.head()

,id,apelido,ult_pontuacao,scout,posicao,clube,status
0,101728,Diego,0.0,{},zag,SAO,Nulo
1,101729,Fabinho,0.0,{'FC': 1},ata,SAO,Nulo
2,101720,Miranda,0.0,"{'FC': 2, 'FS': 1, 'PE': 1, 'RB': 1}",zag,VAS,Nulo
3,101717,Marrony,1.8,"{'A': 1, 'CA': 3, 'CV': 1, 'FC': 31, 'FD': 8, ...",ata,VAS,Suspenso
4,101837,Lucas Paes,0.0,{},gol,SAO,Nulo

In [22]:
# montar um DF para partidas
data = list()
local = list()
clube_casa = list()
clube_casa_placar = list()
clube_visitante = list()
clube_visitante_placar = list()
for i in range(11, len(partidas)):
    for j in range(0, 9):
        data.append(partidas[i][j].data)
        local.append(partidas[i][j].local)
        clube_casa.append(partidas[i][j].clube_casa.abreviacao)
        clube_visitante.append(partidas[i][j].clube_visitante.abreviacao)
        if partidas[i][j].placar_casa == None or partidas[i][j].placar_visitante == None:
            clube_casa_placar.append(-1)
            clube_visitante_placar.append(-1)
        else:
            clube_casa_placar.append(partidas[i][j].placar_casa)
            clube_visitante_placar.append(partidas[i][j].placar_visitante)
        
partidas_dict = {}
partidas_dict['data'] = data
partidas_dict['local'] = local
partidas_dict['clube_casa'] = clube_casa
partidas_dict['clube_casa_placar'] = clube_casa_placar
partidas_dict['clube_visitante'] = clube_visitante
partidas_dict['clube_visitante_placar'] = clube_visitante_placar

partidas_df = pd.DataFrame(partidas_dict)

In [23]:
partidas[0][0]

{"data": {"year": 2019, "month": 4, "day": 27, "hour": 16, "minute": 0, "second": 0, "microsecond": 0, "tzinfo": null}, "local": "Morumbi", "clube_casa": {"id": 276, "nome": "S\u00e3o Paulo", "abreviacao": "SAO"}, "placar_casa": 2, "clube_visitante": {"id": 263, "nome": "Botafogo", "abreviacao": "BOT"}, "placar_visitante": 0}

In [24]:
partidas_df.head()

,data,local,clube_casa,clube_casa_placar,clube_visitante,clube_visitante_placar
0,2019-07-27 17:00:00,Arena Palmeiras,PAL,1,VAS,1
1,2019-07-27 19:00:00,Beira-Rio,INT,1,CEA,0
2,2019-07-27 19:00:00,Mineirão,CRU,0,ATL,2
3,2019-07-27 19:00:00,Maracanã,FLU,1,SAO,2
4,2019-07-28 11:00:00,Arena Condá,CHA,0,BAH,0

In [25]:
atletas_df.posicao.value_counts()

mei    275
ata    186
zag    129
lat    117
gol     98
tec     20
Name: posicao, dtype: int64

In [26]:
clubes_que_jogam_em_casa = partidas_df[partidas_df.clube_casa_placar == -1]['clube_casa'].values

In [27]:
clubes_que_jogam_em_casa

array(['BOT', 'CSA', 'FOR', 'GRE', 'BAH', 'CRU', 'SAN', 'COR', 'AVA'],
      dtype=object)

In [28]:
atletas_df.head()

,id,apelido,ult_pontuacao,scout,posicao,clube,status
0,101728,Diego,0.0,{},zag,SAO,Nulo
1,101729,Fabinho,0.0,{'FC': 1},ata,SAO,Nulo
2,101720,Miranda,0.0,"{'FC': 2, 'FS': 1, 'PE': 1, 'RB': 1}",zag,VAS,Nulo
3,101717,Marrony,1.8,"{'A': 1, 'CA': 3, 'CV': 1, 'FC': 31, 'FD': 8, ...",ata,VAS,Suspenso
4,101837,Lucas Paes,0.0,{},gol,SAO,Nulo

In [30]:
em_casa = []
for i, j in enumerate(atletas_df.clube):
    if j in clubes_que_jogam_em_casa:
        em_casa.append(1)
    else:
        em_casa.append(0)
atletas_df['em_casa'] = em_casa

In [32]:
clubes_que_jogam_em_casa

array(['BOT', 'CSA', 'FOR', 'GRE', 'BAH', 'CRU', 'SAN', 'COR', 'AVA'],
      dtype=object)

In [33]:
atletas_df.head()

,id,apelido,ult_pontuacao,scout,posicao,clube,status,em_casa
0,101728,Diego,0.0,{},zag,SAO,Nulo,0
1,101729,Fabinho,0.0,{'FC': 1},ata,SAO,Nulo,0
2,101720,Miranda,0.0,"{'FC': 2, 'FS': 1, 'PE': 1, 'RB': 1}",zag,VAS,Nulo,0
3,101717,Marrony,1.8,"{'A': 1, 'CA': 3, 'CV': 1, 'FC': 31, 'FD': 8, ...",ata,VAS,Suspenso,0
4,101837,Lucas Paes,0.0,{},gol,SAO,Nulo,0